@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


:root{
	/*Colors*/
	--primary-color: #05060F;
	--secondary-color:#5627FF;
	--text-color: #686868;
	--background-color: #f6f7fb;

	/*Font family*/
    --unique-fontfamily:'Seaweed Script', cursive;
    --main-fontfamily:'Poppins', sans-serif;
	/*Font weight*/
	--regular-weight:400;
	--bold-weight: 700;
	--bolder-weight:900;

	/*Font size*/
	--big-font: 3.2rem;
	--heading-font: 3rem;
	--sub-heading-font:2.5rem;
	--normal-font:1rem;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	color: var(--text-color);
	font-family: var(--main-fontfamily);
	background-color: #fff;
}
h1{
	font-family: var(--main-fontfamily);
	font-size: var(--big-font);
	font-weight:var(--bolder-weight) ;
	line-height: 1.2;
	color: var(--primary-color);
}
h2{
	font-family: var(--main-fontfamily);
	font-size: var(--heading-font);
	font-weight: var(--bolder-weight);
	color: var(--primary-color);
	text-align: center;
	padding: 3% 0;
}
h3{
	font-size: var(--sub-heading-font);
	font-weight: var(--bold-weight);
	color: var(--primary-color);
}
h4{
	font-weight: var(--bold-weight);
}
h5{
	color: var(--primary-color);
	font-weight: var(--bold-weight);
}
h6{
	font-size: var(--normal-font);
}
a {
    text-decoration: none;
  }
p{
	font-size: var(--normal-font);
	font-weight: var(--regular-weight);
	color: var(--text-color);
	line-height: 2;
}
span{
	color: #6b44e0;
}
.social-icon{
    font-size: 30px;
    margin: 2% 1%;
	padding: 2% 2%;
    color: var(--primary-color);
}
.social-icon:hover{
    color: #784cfb;
}
.pre-icon{
	font-size: 20px;
	padding-left: 15px;
    color: #fff;
}

.section-headings{
	text-align: center;
	margin-bottom: 1.5rem;
}
.headings{
	position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
}
.headings:before{
	content: attr(data-headings);
    display: block;
    margin-bottom: 0.4rem;
    color: #6b44e0;
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.headings:after{
	content: "";
	position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: #6b44e0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*Scroll Down*/
.mouse{
	text-align: center;
	margin-top: 50px;
	padding-top: 50px;
	cursor: pointer;
}
.mouse-icon{
	animation: jet 1s ease-out infinite alternate ;
}
@keyframes jet{
	100%{
		transform:translateY(-25px)
	}
}
.mouse-mess{
	color: #6b48eb;
	padding-top: 10px;
	font-weight: 500;
	
}
/* Start Title Section*/
#title{
	background-color: #fff;
}
header{
	text-align: center;
}

/* Start Navbar*/
.navbar{
	background: #F9FAFB; 
}
.navbar-brand{
	font-family: var(--unique-fontfamily);
	font-size: 2rem;	
	font-weight: var(--bolder-weight);
	color:var(--primary-color);
}

.navbar-brand:hover{
	color: var(--primary-color);
}
.nav-item{
    padding: 0 15px;
}
.nav-link{
    font-size: 1.1rem;
	font-weight: 600;
	color: var(--primary-color);
}
.nav-link:hover{
	color: #6b44e0;
}
.navbar-nav .nav-link.active{
	color: #6b44e0;
}
.navbar-toggler{
	background-color: #F9FAFB;
}
.navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(5, 6, 15, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* End Navbar*/

/*Start Title-page*/
.home-container{
	padding: 110px 7% 0 7%;
	height: 95vh;
}
.text-container{
	padding: 70px 0;
}
.welcome{
	color: var(--primary-color);
}
.resume-btn{
	cursor: pointer;
	color: #ffff;
	font-size: 1.2rem;
	font-weight: 600;
	background-color: #784cfb;
	border: 1px solid #784cfb;
	border-radius: 10px;
	padding: 12px 30px;
	margin: 12px 0;
}
.resume-btn:hover{
	background-color: #6b48eb
}
.hero-img{
	width: 550px;
}
.follow-container{
	padding-top: 25px;
}
.check{
	color: #05060F;
	font-weight: 500;
}
.hori-line{
	
	width: 100px;
}
.line{
	width: 80px;
}

.follow-icon{
	padding: 10px;
	margin-right: 8px;
	font-size: 20px;
	color: #05060F;
	background-color: #F6F6F7;
	border-radius: 100%;
}
/*End Title-page*/

/* End Title Section*/

/*Start About Section*/
#about{	
	background-color: #F6F6F7 ;
}
.about-container{
	padding: 3% 10%;
}
.title-img{
	width: 100%;
}
.skill-head{
	text-align: center;
	padding: 3% 0;
}
.cdnlogo{
	height: 50%;
	width: 60%;
	padding-top: 15%;
	padding-left: 10%;
	margin-bottom: 0;
}
.skill-icon{
	color: var(--pri-text-color);
	padding-top: 15%;
	padding-left: 10%;
	font-size: 45px;
	margin-bottom: 0;
}
.skill-name{
	padding-left: 10%;
}
.skill-container{
	padding: 10px 0 5px 10px;
	background-color: #ffff;
	border-radius: 20px;
	border: 2px solid #ffff;
}
/*End About Section*/

/*Start Service Section*/
.service-container{
	padding: 3% 0;
}
.service-box{
	position: relative;
	width: 100%;
	max-width: 390px;
	min-height: 520px;
	background-color: #F6F7FB;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 3rem 2rem;
	overflow: hidden;
	transition: 0.3s;
	border-radius: 5px;
}
.service-box::before{
	content: attr(data-card);
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1;
    color: #6b48eb;
    opacity: 0.040;
}
.service-box::after{
	content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
    background-color: #784cfb;
    transition: 0.3s;
}
.service-box:hover{
	border-bottom: 8px solid #784cfb;
	transform: translateY(-15px);
}
.service-content{
	padding-top: 40px;
}
.service-content h4{
	font-size: 1.6rem;
	font-weight: 600;
	color: #05060F;
}
.service-content p{
	font-size: 1.15rem;
    margin: 1.8rem 0;
}
.service-icon{
	width: 80px;
	margin-bottom: 1.7rem;
}
.service-btn{
	padding: 0.7rem 1.8rem;
    font-size: 1rem;
    background-color: #784cfb;
    color: #ffff;
	border: 1px solid #784cfb;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: 0.3s;
}
.service-btn:hover{
	background-color: #6b44e0;
}

/*End Service Section*/

/*Start Experience Section*/
#experience{
	padding-bottom: 100px;
}
.accordion{
	--bs-accordion-color: var(--primary-color);
	--bs-accordion-active-color:var(--primary-color);
	--bs-accordion-bg: #F6F7FB;
	--bs-accordion-active-bg:#F6F7FB;
	--bs-accordion-btn-focus-box-shadow: none;
	--bs-accordion-btn-focus-border-color: unset;
}
.accordion-button:not(.collapsed){
	box-shadow: none;
}
.accordion-item{
	padding: 0 20px;
}
.accordion-body p{
	color: var(--primary-color);
}
.accordion-body span{
	color: var(--primary-color);
	font-weight: bold;
}
.ex-img{
	width: 80px; 
}
.ex-content{
	padding-left: 25px;
}
.ex-content p{
	line-height: 0.5;
}
/*End Experience Section*/

/*Start Project Section*/
#portfolio{
	background-color: #F6F6F7;
}
/* Center the project cards horizontally */
#project-container{
	padding: 0 10%;
}
.items-centern{
	display: flex;
	justify-content: center;
}
/* Center the filter buttons horizontally */
.center-buttons {
	display: flex;
    justify-content: center;
}
/* Add your custom styles here */
.card{
	width:20rem;
cursor: pointer;
background-color: #fff;
border-radius: 10px;
overflow: hidden;
transition: all 0.5s ease-in-out;
padding: 26px 20px;
margin-bottom: 50px;
}
.card:hover{
transform: translateY(-10px);
box-shadow: 0 0 35px 4px #c1c1c1;

}
.card-img-top{
height: 180px;
border-radius: 10px;
}
.card-body{
margin-top: 10px;
}
.card-lang{
	color: #05060F;
padding-top: 2%;
font-size: 0.9rem;
}
.card-icons{
	color: #05060F;
	font-size: 25px;
	padding-right: 15px;
}
.card-icons:hover{
	color: #6b44e0;
}
.btn-group .btn {
	background-color:#784cfb; /* Set your desired background color */
	color: #fff; /* Set the text color */
}

.btn-group .btn.active {
	background-color: #6b44e0 ; /* Set the background color for the active state */
}
/*End Project Section*/

/*Start Contact Section*/
#contact {
	text-align: center;
}
.contact-container{
	padding: 3% 10%;
	align-items: center;
	justify-content: center;
	background-color:#F6F6F7 ;
	border-radius: 10px;
	margin-top: 3%;
	margin-bottom: 2%;
	overflow: hidden;
}
.mail-btn{
	padding: 15px;
	background: #784cfb;
	color: #f9fafb;
	font-size: 18px;
	border: 2px solid #784cfb;
	outline: none;
	cursor: pointer;
	border-radius: 30px;
}
.mail-btn:hover{
	background: #f9fafb;
	color: #6b44e0;
}
/*End Conatct Section*/

/*Start Footer Section*/
#footer{
	text-align: center;
	padding: 2% 15% 1% 15%;
	color: #919295;
	background-color: #05060F;
	border: 2px solid #05060F;
}
#footer h3{
	color: #ffff;
	font-size: 2rem;
}
#footer p{
	color: #919295;
	font-size: 1rem;
	font-weight: 200;
}
#footer a{
	color: #919295;
	text-decoration: none;
}
#footer a:hover{
	color:#fff; 
    text-decoration:none; 
    cursor:pointer;  
}

#footer .social-icon{
	font-size: 25px;
	color: #919295;
	margin: 0;
}
#footer .social-icon:hover{
	color: #fff;
}
/*End Footer Section*/

/*Scroll Up*/
.scrollup{
	position: fixed;
	right: 1rem;
	bottom: -15%;
	background-color:#784cfb;
	opacity: .8;
	padding: 0 .3rem;
	border-radius: .4rem;
	z-index: 10;
	transition: .4s;
}
.scrollup__icon{
	font-size: 2.3rem;
	color: #fff;
}
.show-scroll{
	bottom: 3rem;
}
/*End*/

/*Responsive Designs*/

/*Start Small devices*/
@media screen and (max-width:600px){
	h1{
		font-size: 2.7rem;
	}
	h2{
		font-size: 1.5rem;
		
	}
	h3{
		font-size: 1.9rem;
	}
	h4{
		font-size: 0.2rem;
		font-weight: normal;
	}
	p{
		font-size: 15px;
	}
	.headings{
		font-size: 2.3rem;
	}
	.headings:before{
		font-size: 1rem;
	}
	.headings:after{
		width: 70px;
	}
	/*Scroll Down*/
    .mouse{
	    margin-top: 20px;
	    padding-top: 25px;
	}

	/*Start Title Section*/
	.navbar-brand{
		font-size: 1.8rem;	
	}
	.home-container{
		text-align: center;
		padding: 90px 0;
		height: 135vh;
	}
	.text-container{
		padding: 2% 0;
	}
	.welcome{
		padding: 0 2%;
	}
	.resume-btn{
		font-size: 1rem;
		margin: 8px 0;
	}
	.mouse{
		display: none;
	}
	.hero-img{
		width: 300px;
	}
	.follow-container{
		padding-top: 0;
		text-align: center;
	}
	.hori-line{
		visibility: hidden;
		height: 0;
	}
	/*End Title Section*/

	/*Start About Section*/
	#about{
		padding: 50px 0;
	}
	.skill-head{
		padding-top: 25px;
	}
	.skill-name{
		font-size: 12px;
	}
	/*End About Section*/

	/*Start Service Section*/
	#service{
		padding: 50px 0;
	}
	.items-centern{
		display: flex;
		justify-content: center;
	}
	.service-box{
		margin-top: 7%;
		max-width: 300px;
	}
	.service-content{
		padding-top: 30px;
	}
	.service-content h4{
		font-size: 1.5rem;
	}
	.service-content p{
		font-size: 1rem;
		margin: 1.5rem 0;
	}
	.service-icon{
		width: 80px;
	}
	/*End Service Section*/

	/*Start Experience Section*/
	#experience{
		padding-bottom: 50px;
		
	}
	.ex-content{
		padding-top: 10px;
		padding-left: 0;
	}
	.ex-content p{
		line-height: 1;
	}
	.accordion-body p{
		padding-top: 10px;
	}
	/*End Experience Section*/

	/*Start Projects Section*/
	#portfolio{
		padding: 50px 0;
	}
	.card{
		width:20rem;
	}
	/*End Projects Section*/

	/*Start Contact Section*/
	/*Contact Section*/
	.contact-container{
		margin: 10% 0;
		padding: 10% 8%;
	}
	.contact-container h4{
		font-size: 1.1rem;
	}
	.mail-btn{
		font-size: 15px;
		margin-bottom: 3%;
	}
	/*End Contact Section*/

	/*Start Footer Section*/
	#footer{
		padding: 5% 5%;
	}
	#footer h3{
		color: #ffff;
		font-size: 1.5rem;
		padding-top: 8px;
	}
	
	#footer p{
		padding-top: 10px;
		font-size: 1rem;
	}
	#footer .social-icon{
		font-size: 23px;
		padding-bottom: 10px;
	}
	/*End Footer Section*/

}

/*End Small device*/

/*Start Medium Device*/
@media screen and (min-width: 768px) and (max-width: 1023px){

	/*Start Title Section*/
	.hero-img{
		width: 300px;
	}
	.follow-container{
		padding-top: 0;
		
	}
	.hori-line{
		visibility: hidden;
		height: 0;
	}
	/*End Title Section*/

	/*Start About Section*/
	/*End About Section*/

	/*Start Service Section*/
	.service-box{
		margin-bottom: 8%;
	}
	/*End Service Section*/

	/*Start Experience Section*/
	.ex-img{
		width: 100px; 
	}
	.ex-content p{
		line-height: 1;
	}   
	.accordion-body p{
		padding-top: 10px;
	} 
	/*End Experience Section*/

	/*Start Projects Section*/
	/*End Projects Section*/

	/*Start Contact Section*/
	/*End Contact Section*/

	/*Start Footer Section*/
	#footer{
		padding: 5% 0;
	}
	/*End Footer Section*/

}
/*End Medium Device*/

/*Start Large Device*/
@media screen and (min-width:1024px){
	/*Start Title Section*/
	
	/*End Title Section*/

	/*Start About Section*/
	/*End About Section*/

	/*Start Service Section*/
	/*End Service Section*/

	/*Start Experience Section*/
	.ex-content{
		padding-left: 70px;
	}
	/*End Experience Section*/

	/*Start Projects Section*/
	.pro-img{
		width: 150%;
	}
	/*End Projects Section*/

	/*Start Contact Section*/
	
	/*End Contact Section*/

	/*Start Footer Section*/
	/*End Footer Section*/

}
/*End Large Device*/
